# Variables d'environnement pour Railway
SECRET_KEY=yHeI42hskJzC6keIT-Obe2f1KXCijI_KaRtyEDd89eMw4vLnWmguSIFB-1WXaW4ii-Q
DEBUG=False
ALLOWED_HOSTS=votre-domaine.railway.app
RAILWAY_ENVIRONMENT=production
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Database (Railway va configurer automatiquement)
DATABASE_URL=postgresql://username:password@host:port/database
